-
    const firstScreen = {
        subtitle: 'Передовая IT студия',
        title: 'Мы создаем легкие решения сложных задач и проблем',
        buttonAnchor: '#our-projects',
        buttonTitle: 'Наши проекты'
    };

section#main.first-screen
    include ./header.pug
    .first-screen__container
        p.first-screen__subtitle= firstScreen.subtitle
        h1.first-screen__title= firstScreen.title
        a.button.first-screen__button(href=firstScreen.buttonAnchor) #{ firstScreen.buttonTitle }
