doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title IT Studio
        link(rel='stylesheet', href='../scss/index.scss')
    body 
        main
            include ./first-screen.pug
            include ./services.pug
            include ./about-us.pug
            include ./all-services.pug
            include ./all-projects.pug
            include ./about-work.pug
            include ./footer.pug

            script(src='../js/index.js')
