.all-services {
    padding: 100px 0 85px;
    background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%) no-repeat;
    background-size: 100% 50%;
    &__container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px;
    }
    &__text-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }
    &__title {
        color: $white;
    }
    &__content {
        display: flex;
        padding-bottom: 85px;
        border-bottom: 1px solid $lightgrey;
    }
    &__item {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__image {
        margin-bottom: 30px;
    }
    &__heading {
        margin-bottom: 30px;
    }
    &__number {
        color: $blue;
    }
    &__text {
        margin-bottom: 30px;
    }
    &__link {
        font-family: $font-main;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;

        text-decoration: underline;
        color: $blue;
        &:hover {
            color: #204bb6f8;
        }
    }
}

@media (max-width: 991px) {
    .all-services {
        padding: 50px 0;
        background-size: 100% 35%;
        &__text-wrap {
            margin-bottom: 40px;
        }
        &__content {
            padding-bottom: 50px;
        }
    }
}

@media (max-width: 767px) {
    .all-services {
        &__link {
            font-size: 14px;
        }
    }
}

@media (max-width: 575px) {
    .all-services {
        background-size: 100% 20%;
        &__text-wrap {
            flex-direction: column;
        }
        &__title {
            margin-bottom: 20px;
            text-align: center;
        }
        &__content {
            flex-direction: column;
        }
        &__item {
            align-items: center;
            text-align: center;
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
        &__image {
            max-width: 200px;
        }
        &__link {
            font-size: 12px;
        }
    }
}
