.heading {
    font-family: $font-main;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;

    color: $black;
}

@media (max-width: 767px) {
    .heading {
        font-size: 15px;
    }
}
