.text {
    font-family: $font-main;
    font-size: 16px;
    line-height: 1.6;

    color: $grey;
}

@media (max-width: 767px) {
    .text {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .text {
        font-size: 12px;
    }
}
